.user_details_outer_container {
    margin-top: 15vh !important;
}

.profile_pic {
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    margin-inline: 5px;
}

.profile_pic_options {
    
}

.profile_pic:hover .profile_pic_options {
    display: flex;
}

.user_info_container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.user_info {
    color: antiquewhite;
    text-decoration: none;
    flex-wrap: wrap;
    align-items: center;
    margin: 1%;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.img_data_container {
    width: 100%;
    margin: auto;
}

.image_button {

}

.all_images_uplaoded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image_uplaoded {
    height: 150px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    border-width: 2px;
}

.image_uplaoded:hover {
    cursor: pointer;
    border: solid;
    border-color: rgba(250, 235, 215, 0.38);
}